<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div id="login_main_div">
<form action="/createTheAccount" method = "POST">
	   	<div><input placeholder="First Name" type="text" name="fname"></div>
	   	<div><input placeholder="Last Name" type="text" name="lname"></div>
		<div><input placeholder="Username" type="text" name="userName"></div>
		<div><input placeholder="Password" type="password" name="pass"></div>
		<input type="submit">
</form>
</div>

</body>
</html>