<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>

<form action ="Chest" method = "GET">
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
	<div class="card-header">Chest</div>
	<img alt="" src="/img/chest.jfif">
	<div class="card-body">
		<button class="btn btn-light">Chest workouts</button>
	</div>
</div>
</form>

</body>
</html>  